<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" >
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/select.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/editor.bootstrap.min.css">

    <style>
    	table, th , td  {
		  border: 1px solid grey;
		  border-collapse: collapse;
		  padding: 5px;
		}
		table tr:nth-child(odd) {
		  background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
		  background-color: #ffffff;
		}
		table tr:hover{
			background-color: grey;
		}
    </style>
    <!-- <script src="/static/js/handlebars-v4.0.5.js" type="text/javascript" charset="utf-8" async defer></script> -->
    <script src="/static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/angularjs1.6.2/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/angularjs1.6.2/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/angularjs1.6.2/angular-resource.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/angularjs1.6.2/angular-linq.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/angular-websocket/dist/angular-websocket.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/clientjs.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/ngStorage.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="/static/css/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
    
    <script src="/static/js/wz_jsgraphics/wz_jsgraphics.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.btree.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/main.js" type="text/javascript" charset="utf-8">
    	
    </script>
    <title>{{title}}</title>
</head>
<body>

    {{{body}}}

</body>
</html>