<script src="/static/js/main.js" type="text/javascript" charset="utf-8">
</script>

<script charset="utf-8" >	
app.controller('homeCtrl', function($scope,$timeout,$window, $http,WS,ST) {
					//after open connection get the result to check if server response well and save to local database
					//try to get data from client local database
					//var client={{{client}}};
					var client =ST.storage();
					console.log("home storage: %s",JSON.stringify(client));
					//$scope.$storage = $localStorage.$default({client:client});
					$scope.res_data={};
					WS.subscribe(function (event){
						$scope.$apply(function (){
							//var response;
                            try {
                                if (angular.isString(event.data)) {
                                    $scope.res_data=JSON.parse(event.data);
                                }
                                else if (angular.isObject(event.data)) {
                                    $scope.res_data=event.data;
                                }
							//$scope.res_data=event.data;
								console.log(" home res_data %s",JSON.stringify($scope.res_data));
	                        	if(isJson($scope.res_data)){
	                        		if($scope.res_data.actioncode=="init")
	                        			$scope.initData();
	                        	}
                            } catch (e) {
                            	$scope.res_data = {'error': e,updatetime:new Date(),_isstring:false,_iserror:true,_isread:false};
                                $("#infomsg").html("Sorry, connection failed ...");
                                //console.log('error:'+ e);
                                
                            }
						});
					});					
					$scope.initData=function(){						
						console.log("Init data res_data: %s",JSON.stringify($scope.res_data.json));
						client=$scope.res_data.json;
						// when login exist
						client=updateClient(client);
						console.log("updated %s",JSON.stringify(client));
						if(ST.saveStorage(client)>0)
							return;
					};
	WS.init();
    $scope.ws=WS;	
	//console.log(WS.datacollection);
	//console.log("ws %s",$scope.ws);
	$scope.client=client; 
	$scope.client.lastaccess=formatDate(new Date($scope.client.lastaccess),5);	
	//$scope.register={};	
	$scope.isnew=false;
	$scope.isedit=false;
	$scope.isshakehands=false;
	$scope.heartbeats=null;

	$scope.login={
		username:"",	
		password:""
	};

	$scope.forgetorphone="";
	$scope.user={
		 gui:"uuidV4()",
		  username:"",
		  password:"",
		  confirmpassword:"",
		  createddate:new Date(),
		  parent:"",
		  email:"",
		  phone1:"",
		  phone2:"",
		  address:"",
		  photo:"",
		  memberlevel:"",
		  twinusergui:"",
		  binid:""
		  };
	
	// $scope.initVals=function(){
	// 	$scope.shakehands();
	// }
	$scope.shakehands =function(){
		$scope.error="";
		var c={
            _isstring:true,
            json:client,
            updatetime:new Date(),
            _iserror:false,
            _isread:false,
            actioncode:"shakehands"
            };
            $scope.ws.send(JSON.stringify(c));
		//console.log(WS.datacollection[WS.datacollection.length-1]);
	};
	$scope.register=function(){
		
		var c={
            _isstring:true,
            json:client,
            updatetime:new Date(),
            _iserror:false,
            _isread:false,
            actioncode:"register"
            };
            $scope.ws.send(JSON.stringify(c));
	}
	$scope.getshakehands=function(shaked){
		$scope.isshakehands=shaked;
	}

	$scope.sendHeartbeats=function(){
		var c={
            _isstring:true,
            json:client,
            updatetime:new Date(),
            _iserror:false,
            _isread:false,
            actioncode:"heartbeats"
            };
            $scope.ws.send(JSON.stringify(c));
	}
	
	$scope.submitlogin=function (){
		//validate login info
		$scope.error="";

		if($scope.login.username==""||$scope.login.password==""){
			$scope.error="input username and password correctly or click forgot password";
			return;
		}
		// check login data
		client.data=$scope.login;
		var c={
            _isstring:true,
            json:client,
            updatetime:new Date(),
            _iserror:false,
            _isread:false,
            actioncode:"login"
            };
         console.log("submit login");
         console.log("client: %s"+JSON.stringify(c));
		$scope.ws.send(JSON.stringify(c));
		
	}
	$scope.forget=function (){
		//validate user 
		if($scope.login.username==""||$scope.login.password==""){
			$scope.error="input username and password correctly or click forgot password";
			return;
		}
		// check login data
		var c={
		sendtime:new Date(),
		data:$scope.forgetorphone,
		actioncode:"forget",
		};
		$scope.ws.send(JSON.stringify(c));
		//console.log(WS.datacollection);
		
		//redirect to user profile mainpage
		$scope.errors="Error forget";
	}
	$scope.showlogin=function (e){
		$("#login-form").delay(100).fadeIn(100);
 		//$("#register-form").fadeOut(100);
		$("#forget-form").fadeOut(100);
		//$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		//e.preventDefault();
	};
	// $scope.showregister=function(e){
	// 	$("#register-form").delay(100).fadeIn(100);
 // 		$("#login-form").fadeOut(100);
 // 		$("#forget-form").fadeOut(100);
	// 	$('#login-form-link').removeClass('active');
	// 	$(this).addClass('active');
	// 	//e.preventDefault();
	// };
	$scope.showforget=function(e){
		$("#forget-form").delay(100).fadeIn(100);
 		$("#login-form").fadeOut(100);
 		//$("#register-form").fadeOut(100);
		$('#login-form-link').removeClass('active');
		//$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		//e.preventDefault();
	};

	// shakehands
	$scope.isshakehands=$scope.shakehands();
	
    $timeout(function() {
        	if($scope.isshakehands)
        		//ws.emit("heartbeats",$scope.client);
        	$scope.sendHeartbeats();
        }, 5000);
    
});
	
 
</script>
{{{{raw}}}}
<div ng-app="topup" ng-controller="homeCtrl" ng-init="initVals()" class="form-group container" data>

	<div class="container">
        <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<!-- <div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link" ng-click="showlogin()">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link" ng-click="showregister()">Register</a>
							</div>
						</div>
						<hr> -->
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="loginusername" id="loginusername" tabindex="1" class="form-control" placeholder="Username" ng-model="this.login.username" required>
										<!-- <p class="alert-danger fade in" ng-show="this.login.username.$valid"></p> -->
									</div>
									<div class="form-group">
										<input type="password" name="loginpassword" id="loginpassword" tabindex="2" class="form-control" placeholder="Password" ng-model="this.login.password" required>
										<!-- <p class="alert-danger fade in" ng-show="this.login.password.$valid"></p> -->
									</div>
<!-- 
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div> -->
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" ng-click="submitlogin()">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#"  ng-click ="showforget()"tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>

								<form id="forget-form" action="" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="forget" id="forget" tabindex="1" class="form-control" placeholder="Recover: email@gmail.com or phone:+8562012345678 " ng-model="this.forgetorphone">
									</div>
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="forget-submit" id="forget-submit" tabindex="4" class="form-control btn btn-login" value="Recover" ng-click="forget()">

											</div>
										</div>
									</div>									
								</form>	


<!-- 
								<form id="register-form" action="" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" ng-model="this.user.username">
									</div>
									<div class="form-group">
										<input type="tel" name="phone1" id="phone1" tabindex="2" class="form-control" placeholder="Phone: +8562012345678" ng-model="this.user.phone1">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="2" class="form-control" placeholder="Email: abc@gmail.com" ng-model="this.user.email">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="3" class="form-control" placeholder="Password" ng-model="this.user.password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="3" class="form-control" placeholder="Confirm Password" ng-model="this.user.confirmpassword">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" ng-click="register()">
											</div>
										</div>
									</div>									
								</form> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		
		<div class="alert-danger fade in" id="infomsg" ng-bind="this.error">			
			
		</div>
		<div id="ip" class="form-control-static">IP:{{this.client.ip}}</div>
		<div id="accesstime" class="form-control-static">Time:{{this.client.lastaccess}}</div>
	</div>
</div>
{{{{/raw}}}}