<script src="/static/js/main.js" type="text/javascript" charset="utf-8">
</script>
<script>
app.controller('indexCtrl', function($scope,$timeout,$window, $http,WS,ST) {
					//after open connection get the result to check if server response well and save to local database
					//try to get data from client local database
					var client={{{client}}};
					var client2=ST.storage();
					if(!isJson(client2))
						ST.saveStorage(client);
					client=ST.storage();
					//var client ={};
					//$scope.$storage = $localStorage.$default({client:client});
					$scope.res_data={};
					WS.subscribe(function (event){
						$scope.$apply(function (){
							//var response;
                            try {
                                if (angular.isString(event.data)) {
                                    $scope.res_data=JSON.parse(event.data);
                                }
                                else if (angular.isObject(event.data)) {
                                    $scope.res_data=event.data;
                                }
							//$scope.res_data=event.data;
								console.log("res_data %s",JSON.stringify($scope.res_data));
                            	if(isJson($scope.res_data)){
	                        		if($scope.res_data.actioncode=="init")
	                        			$scope.initData();
	                        		else if($scope.res_data.actioncode=="error"&&$scope.res_data.json.data=="error need to login")
	                        			$scope.needlogin();
	                        		else
	                        			throw new Error($scope.res_data.data);
	                        	}

                            } catch (e) {
                                $("#infomsg").html("Sorry, connection failed ... %s",e);
                                //console.log('error:'+ e);
                                $scope.res_data = {'error': e,updatetime:new Date(),_isstring:false,_iserror:true,_isread:false};
                            }
						});
					});					
					$scope.initData=function(){						
						console.log("Init data res_data: %s",JSON.stringify($scope.res_data.json));
						client=$scope.res_data.json;
						// when login exist
						client=updateClient(client);
						console.log("updated %s",JSON.stringify(client));
						if(ST.saveStorage(client)>0)
							$window.location="/home/";
						else 
							$window.location="/errors/failed local storage";
					};
					$scope.needlogin=function(){
						$window.location="/home/";
					}
					WS.init();
				});
</script>
{{{{raw}}}}
<div ng-app="topup" ng-controller="indexCtrl" class="form-group container" data>
<div id="infomsg"></div>
</div>
{{{{/raw}}}}